/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/*
Supprimerait vcs.xml
Supprimerait .gitignore
Supprimerait README.md
Supprimerait app/
Supprimerait bin/
Supprimerait composer.json
Supprimerait composer.lock
Supprimerait phpunit.xml.dist
Supprimerait src/
Supprimerait tests/
Supprimerait var/
Supprimerait web/
Supprimerait composer.phar
Supprimerait web/css/bootstrap-responsive.css
Supprimerait web/css/bootstrap-responsive.min.css
Supprimerait web/js/bootstrap.min.js
Supprimerait web/js/jquery-3.1.1.min.js
