{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Movie shop</h1>
        <p>mettre ici une for loop</p>
        <h2>what's new</h2>
        <p>mettre les news ici stockée dans la bdd si possible</p>
    </div>
{% endblock %}


