{% extends 'base.html.twig' %}


    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Commandes</h2>
                    <table cellspacing="60">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Prix</th>
                                <th>Etat</th>
                                <th>Détails</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commande in commandes if commandes is not empty %}

                                <tr>
                                    <td>{{commande.dateCommande|date('Y-m-d')}}</td>
                                    <td>{{commande.prixCommande}}</td>
                                    <td>{{commande.etatId.libelleEtatCommande}}</td>
                                    <td><a href="{{ path('ficheCommande', {'commande': commande.idCommande}) }}">Détails de la commande</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}


